{% include 'header.html' %}


<div class="container mt-5">
    <h1>Список пользователей</h1>
    <a class="btn btn-success" href="/add_user">Создать пользователя</a>

    <div id="users-list">
        {% for user in users %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Пользователь ID: {{ user.id }}</h5>
                    <p class="card-text">Username: {{ user.username }}</p>
                   
                    <a href="{{ url_for('get_user', user_id=user.id) }}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
